body {
  font-family: Arial, sans-serif;

  /* Gradient + Background Image */
  background: linear-gradient(
                to right,
                rgba(250, 92, 255, 0.5),
                rgba(87, 111, 248, 0.5)
              ),
              url('8260a8df-f70b-4193-ba46-65dc6da6497f.png'); /* image ka naam yahan likha hai */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: linear-gradient(to right, #f6f882, hsl(61, 74%, 79%));
  padding: 80px;
  border-radius: 45px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  text-align: center;
}

input, select {
  padding: 18px;
  width: 80%;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: linear-gradient(to right, #6cf873, #7dcefd);
  color: rgb(248, 244, 244);
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #1feb1f;
}
